<template>
    <div class="item-chooser">

        <div class="chosen-item-description">
            {{ title }}: <template v-if="selected">{{ selectedOption[labelProp] }}</template>
        </div>

        <div class="chooser-list">
            <div v-for="item in options" :key="item[keyProp]" :class="{'chooser-list-item': true, 'selected': item[keyProp] === selected}" @click="onItemClick(item)">
                {{ item[labelProp] }}
            </div>
        </div>

    </div>
</template>

<script>
export default {
    name: 'ItemChooser',

    props: ['title', 'options', 'selected', 'keyProp', 'labelProp'],

    computed: {
        selectedOption() {
            return this.options.find((option) => {
                return option[this.keyProp] === this.selected;
            });
        }
    },

    methods: {
        onItemClick(item) {
            this.$emit('select', item);
        },
    }
}
</script>

<style>
.item-chooser {
    height: 100%;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: stretch;
}

.chosen-item-description {
    color: rgb(80, 80, 80);
    font-size: 0.8rem;
    margin: 1rem 0;
    background-color: #f0f0f0;
    padding: 0.25rem;
    border-radius: 4px;

    flex-grow: 0;
}

.chooser-list {
    border: 1px solid #d0d0d0;
    border-radius: 4px;

    flex-grow: 1;

    overflow-y: scroll;
}

.chooser-list-item {
    padding: 0.25rem;
    cursor: pointer;
}

.selected {
    background-color: rgb(170, 220, 250);
}
</style>
