<template>
    <div class="sidebar">
        <item-chooser title="Client" :options="employers" :selected="selected.er_no" keyProp="er_no" labelProp="name" @select="onClientSelect" />

        <item-chooser title="Employee" :options="employees" :selected="selected.ee_id" keyProp="ee_id" labelProp="first_name" @select="onEmployeeSelect" />
    </div>    
</template>

<script>
import ItemChooser from './ItemChooser.vue';
import sampleData from '@/dataset.js';

/*const sampleData = {
    clients: [
        {
            name: 'AW Demo',
            id: 9000
        },
        {
            name: 'Sparky Sprockets',
            id: 9001
        }
    ],

    employees: [
        {
            name: 'Monkey D. Luffy',
            id: 'OP00001',
            client_id: 9000
        },
        {
            name: 'Nami',
            id: 'OP00002',
            client_id: 9000
        },
        {
            name: 'Roronoa Zoro',
            id: 'OP00003',
            client_id: 9000
        },
    ]
};*/

export default {
    name: 'Sidebar',

    methods: {
        onClientSelect(client) {
            // Select the client
            this.selected.er_no = client.er_no;
            this.selected.ee_id = false;

            // Refresh the employees list
            this.employees = sampleData.employees.filter((ee) => {
                return ee.er_no === this.selected.er_no;
            });
        },

        onEmployeeSelect(employee) {
            this.selected.ee_id = employee.ee_id;
        }
    },

    data() {
        console.log(sampleData.employees);

        return {
            employers: sampleData.employers,
            employees: [],

            selected: {
                ee_id: false,
                er_no: false
            }
        }
    },

    components: {
        ItemChooser
    }
}
</script>

<style>
.sidebar {
    /** Flex Approach:
     */
    width: 250px;
    height: 100%;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    background-color: rgba(255, 0, 0, 0.1);
}
</style>
