<template>
    <div class="workspace">
        Workspace
    </div>    
</template>

<script>
export default {
    name: 'Workspace'
}
</script>

<style>
.workspace {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;

    background-color: rgba(0, 255, 255, 0.1);
}
</style>
