<template>
  <div id="app">

    <div id="app-dashboard-card">

      <workspace />

      <sidebar />

    </div>

  </div>
</template>

<script>
import Workspace from './components/Workspace.vue';
import Sidebar from './components/Sidebar.vue';

export default {
  name: 'app',

  components: {
    Workspace,
    Sidebar
  }
}
</script>

<style>
* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;

  background-color: #f0f0f0;
}

#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
  overflow: hidden;
  padding: 1rem;
}

#app-dashboard-card {
  /*
  display: grid;
  height: 100%;
  overflow: hidden;

  grid-template-columns: 1fr 250px;
  grid-template-rows: 1fr;
  */

  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-between;
  
  height: 100%;
  overflow: hidden;

  background-color: white;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 1rem;
}
</style>
